/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.buttons{
    -fx-background-color:blue ;
    -fx-font: 19px sans-serif;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;

}  .sendButton{
    -fx-background-color:green ;
}