.buttons{
    -fx-background-color:blue ;
    -fx-font: 19px sans-serif;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
.clear{
    -fx-background-color:tomato ;
    -fx-font: 19px sans-serif;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
.finished{
    -fx-background-color:green ;
    -fx-font: 19px sans-serif;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}